body {
  background-image: url("../img/bg.jpeg");
  color: #f7f8fb;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 23PX;
  margin-top: 25px;
}

.container {
  display: flex;
  width: 650px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  background-color: #FDFF8F;
  width: 100px;
  height: 100px;
  margin: 7px;
  margin-left: 20px;
  border-radius: 15%;
  overflow: hidden;

}

#block-for-reset-and-click {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.show-click {
  font-size: 50px;
  margin-right: 100px;
  padding: 0px 20px;
  border-radius: 10%;
}

.reset-button {
  background-color: #F4BEEE;
  border: none;
  padding:  10px 50px;
  border-radius: 10%;
  font-size: 30px;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.card img {
  height: 100%;
  width: 100%;
}

.card {
  cursor: pointer;
}
