#container {
  width: 100%;
  height: 100%;
  background-color: #ddadf1;
  opacity: 50%;
}
.box-for-cards {
  width: 80%;
  height: 500px;
  background-color: #d290b3;
  opacity: 70%;
  border-radius: 3em;
  margin: 20px 5px 30px 140px;
}

.design-for-cards {
  width: 40px;
  height: ;
  background-color: #ecd7a6;
}
