BODY {
  background-color: #c3ede5;
}

.container {
  width: 95%;
  overflow: hidden;
  background-color: #ddadf1;
  margin: 20px auto;
  padding: 20px 0;
}

.container ul {
  padding: 0;
  margin: 0;
}

.container ul li {
  list-style: none;
  float: left;
  width: 10%;
  height: 90px;
  background: #ecd7a6;
  margin: 40px 40px 0px 40px;
}

.
